.footer.section { padding:2.4rem 0; }
	.social-media { margin-bottom:2.4rem; }
		.social-media-link { color: #D32F2F; font-size: 4.2rem; margin: 0 1.6rem; }
	.footer-text { color: #cdcdcd; font-size: 1.4rem; line-height: 1.4; }