.modal-overlay { position: fixed; top: 0; left: 0; width: 100%; height: 100%; z-index: 1; background-color: rgba(0, 0, 0, .5); display: flex; justify-content: center; align-items: center; cursor: pointer; visibility: hidden; opacity: 0; transition: visibility .25s, opacity .25s; }
.modal-overlay.is-active { visibility: visible; opacity: 1; }
	.modal { background-color: #fff; padding: 2.4rem; border-radius: .2rem; position: relative; cursor: default; max-width: 45rem; min-width: 28rem; margin: 0 2rem; }
		.modal-title { font-size: 2.4rem; margin-bottom: 2rem; }
		.modal-text { font-size: 1.4rem; line-height: 1.4; color: #464646; }
		.modal-close { background-color: transparent; border: none; position: absolute; width: 2rem; height: 2rem; right: -2rem; top: -2rem; cursor: pointer; }
			.modal-close:before,
			.modal-close:after { content:""; width:100%; height:.2rem; background-color:#fff; position:absolute; top:calc(50% - .1rem); left:0; transform:rotate(45deg); transform-origin: 50% 50%; }
			.modal-close:after { transform:rotate(-45deg); }