:root {
    --red:#D32F2F;
    --light-gray:#dfdfdf;
    --normal-gray:##9E9E9E;
    --dark-gray:#212121;
}

@import "fonts";
@import "base";
@import "grid";
@import "header";
@import "hero";
@import "section";
@import "features";